/* Styling for the container holding the form */
.add-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Styling for the heading */
.add-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styling for form labels */
.add-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styling for input fields */
.add-input {
  width: 95%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease; /* Add transition for border color change */
}

/* Apply red glow effect on focus */
.add-input:focus {
  border-color: red;
}

/* Styling for the submit button */
.add-button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.add-button:hover {
  background-color: #0056b3;
}

/* Styling for the glow-on-hover class */
.glow-on-hover {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

/* Pseudo-element for the glowing effect */
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

/* Active state for the glow-on-hover button */
.glow-on-hover:active {
  color: #000;
}

/* Styling for the after pseudo-element on active */
.glow-on-hover:active:after {
  background: transparent;
}

/* Hover effect for the before pseudo-element */
.glow-on-hover:hover:before {
  opacity: 1;
}

/* Styling for the after pseudo-element on hover */
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Keyframes for the glowing animation */
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
